<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Project Management</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="./style.css" media="screen"> -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/public/insert.js" charset="utf-8" defer></script>
    <script src="/public/addEmployee.js" charset="utf-8" defer></script>
    <!-- <script src="/public/addDepartment.js" charset="utf-8" defer></script>
    <script src="/public/addProgrammer.js" charset="utf-8" defer></script>
    <script src="/public/updateProject.js" charset="utf-8" defer></script>
    <script src="/public/selectClient.js" charset="utf-8"></script>
    <script src="/public/updateDepartment.js" charset="utf-8"></script>
    <script src="/public/updateProgrammer.js" charset="utf-8"></script>
    <script src="/public/filterTable.js" charset="utf-8"></script> -->



   <script type="text/javascript">
   function myFunction(s){
	   var t=s.options[s.selectedIndex].text;
	   var rows=document.getElementById('project-table').getElementsByTagName('tr'), i=0, r, c;
	   while(r=rows[i++]){
		   	if(t=='All'){
				r.style.display=''}
			else{
				c=r.getElementsByTagName('td')[3].firstChild.nodeValue;
				r.style.display=c==t?'':'none';
			}
	   }
   }
   </script>


  </head>
  <body>
	{{{body}}}
  </body>
</html>
