<html>
  <body>

    <header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
      <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
          <li class="navitem navlink"><a href="./addDepartment">Add a department</a></li>
          <li class="navitem navlink"><a href="./addProgrammer">Add a programmer</a></li>
        </ul>
      </nav>
    </header>

    <main>
            <h2>Select Project</h2>
                <select id="select-project">
                        <option disabled selected value> -- select -- </option>
                        {{#each projects}}
                                <option>{{Name}}</option>
                        {{/each}}

                </select>
            <h2>Add Deparment</h2>
                <select id="add-department">
                        <option disabled selected value> -- select -- </option>
			{{#each departments}}
				<option>{{Name}}</option>
			{{/each}}
                </select>
            <br>
            <button type="button" class="accept-button">Add</button>
    </main>

  </body>

</html>
