<body>

  <header>
    <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
        <li class="navitem navlink"><a href="./addDepartment">Add a department</a></li>
        <li class="navitem navlink"><a href="./updateDepartment">Update/Delete a department</a></li>
        <li class="navitem navlink"><a href="./addProgrammer">Add a programmer</a></li>
        <li class="navitem navlink"><a href="./updateProgrammer">Update/Delete a programmer</a></li>
      </ul>
    </nav>
  </header>

  <main>
          <h2>Select Project</h2>
              <select>
                      <option disabled selected value> -- select -- </option>
                      <option value="volvo">Secret</option>
                      <option value="volvo">Acorn</option>
                      <option value="volvo">Oak</option>
              </select>
          <h2>Select Programmer</h2>
              <select>
                      <option disabled selected value> -- select -- </option>
                      <option value="volvo">Chew Min</option>
                      <option value="volvo">Atsuhito Kita</option>
              </select>
        <br>      
        <button type="button" class="accept-button">Add</button>
  </main>

</body>

</html>
