<body>

  <header>
    <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

    <nav class="navbar">
      <ul class="navlist">
          <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
          <li class="navitem navlink"><a href="./insertEmployee">Insert a employee</a></li>
          <li class="navitem navlink"><a href="./insertDepartment">Insert a department</a></li>
          <li class="navitem navlink"><a href="./insertClient">Insert a client</a></li>
          <li class="navitem navlink"><a href="./displayTables">Display Employees and Departments</a></li>

      </ul>
    </nav>
  </header>

  <main>
          <h2>Insert New Project</h2>
          <div class="input-element">
            <label class="prompt" for="name-input">Name</label>
            <input type="text" class="box" id="name-attribution-input">
          </div>
          <div class="input-element">
            <label class="prompt" for="rooms-input">Start_date</label>
            <input type="date" class="box" id="start-date-attribution-input">
          </div>
          <div class="input-element">
            <label class="prompt" for="roommates-input">Anticipated_end_date</label>
            <input type="date" class="box" id="end-date-attribution-input">
          </div>
          <div class="input-element">
            <label class="prompt" for="price-input">Budget</label>
            <input type="text" class="box" id="budget-attribution-input">
          </div>
          <div class="input-element">
            <label class="prompt" for="name-input">Client_id</label>
            <select id="clientId-attribution-input">
                        <option disabled selected value> -- select -- </option>
                        {{#each clients}}
                        <option>{{Name}}</option>
                        {{/each}}
            </select>
          </div>

        <button type="button" class="accept-button" >Enter</button>


  </main>

</body>

</html>
