<body>

  <header>
    <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

    <nav class="navbar">
      <ul class="navlist">
              <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
              <li class="navitem navlink"><a href="./insertEmployee">Insert a employee</a></li>
              <li class="navitem navlink"><a href="./insertDepartment">Insert a department</a></li>
              <li class="navitem navlink"><a href="./insertClient">Insert a client</a></li>
          <li class="navitem navlink"><a href="./displayTables">Display Employees, Departments, Clients</a></li>
      </ul>
    </nav>
  </header>

  <main>
          <h2>Insert New Employee</h2>
          <div class="input-element">
            <label class="prompt" for="name-input">Name</label>
            <input type="text" class="box" id="name-attribution-input">
          </div>
          <div class="input-element">
            <label class="prompt" for="name-input">Manager</label>
            <!-- <input type="text" class="box" id="manager-attribution-input"> -->
            <select id="manager-attribution-input">
                        <option disabled selected value> -- select -- </option>
                        {{#each employees}}
                        <option>{{Name}}</option>
                        {{/each}}
            </select>
          </div>
          <div class="input-element">
            <label class="prompt" for="name-input">Department</label>
            <!-- <input type="text" class="box" id="department-attribution-input"> -->
            <select id="deparment-attribution-input">
                        <option disabled selected value> -- select -- </option>
                        {{#each departments}}
                        <option>{{Name}}</option>
                        {{/each}}
            </select>
          </div>

          <button type="button" class="accept-button4" >Enter</button>


  </main>

</body>

</html>
